.default-theme {
    background: #36578c;
}
.teal {
    background: #009688;
}
.bluegrey{
	background: #607D8B;
}
.indigo{
	background:#3F51B5;
}
.pink{
	background:#b34c6f;
}
.fix-header .topbar {
	border-bottom: 2px solid #3F51B5;
}
.fix-sidebar .left-sidebar {
    background: #3F51B5;
}
.notify .heartbit {
    border-color:#3F51B5;
}
.fix-sidebar .left-sidebar {
    background: #3F51B5;
}
.footer {
	background: #3F51B5;
}
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link {
	color: #3F51B5;
}
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link i {
	color: #3F51B5;
}
.top-header {
	color: #3F51B5;
}
.header-name h3 {
	color: #3F51B5;
}
.fix-sidebar .left-sidebar {
    background: #3F51B5;
}
.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a {
	border-right-color:#3F51B5;
}
.mini-sidebar .sidebar-nav ul li ul li:hover {
	border-right-color:#3F51B5;
}
.text-themecolor {
	color: #3F51B5 !important;
}
.mini-sidebar .sidebar-nav #sidebarnav>li>ul {
	background: #3F51B5;
}
/* .select2-results__option[aria-selected] {
	color: #3F51B5;
} */
.tooltip.bs-tooltip-left .arrow:before {
	border-left-color: #3F51B5 !important;
  }
   .form_section .three_column_form h3 {
    color: #3F51B5;
}
.select-items div,.select-selected {
	color: #3F51B5;
  }
  .search_section .search_heading span{
	color: #3F51B5;
}
.search_section .search_btn{
           background-color: #3F51B5;
}
.search_section .search_heading span{
	color: #3F51B5;
}
.search_section .search_btn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7c8eef), to(#3F51B5));
}
.search_section .search_btn:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3F51B5), to(#7c8eef));
}
.btn-circle.right-side-toggle {
    background: #3F51B5;
}
.buttom-side-toggle{
	background: #3F51B5;
}
.bottom-sidebar h2{
    background: #3F51B5;
}
.right-sidebar .rpanel-title {
    background: #3F51B5;
}
.form_section {
	border-color:#283593;
	color: #000;
}
.form_content_title {
	background-color: #283593!important;
}
table.dataTable thead {
	background-color: #283593;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	background-color: #283593 !important;
	background: #283593 !important;
}
.paging_simple_numbers .pagination .paginate_button.active {
	background: #283593;
	border-color: #283593;
}
.paging_simple_numbers .pagination .paginate_button.active a,
	.paging_simple_numbers .pagination .paginate_button:hover a {
	background: #283593;
}
.paging_simple_numbers .pagination .paginate_button:hover {
	background: #283593;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
	{
	background: #283593;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border-color:#283593;
}
.form_section .form-inline .input-group.date .inner-addon .fa {
	color: #283593;
}
.form_section .form-inline .new-radio-button [type="radio"]:checked+label::after,
	[type="radio"].with-gap:checked+label::after {
	background-color: #283593;
}

.form_section .form-inline .new-radio-button [type="radio"]:checked+label::after,
	[type="radio"].with-gap:checked+label::before, [type="radio"].with-gap:checked+label::after
	{
	border-color:#283593;
}
.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a {
	background: #283593;
}
.mini-sidebar .sidebar-nav ul li ul li:hover a {
	background: #283593;
}
.mini-sidebar .sidebar-nav ul li ul li:hover a {
	background: #283593;
}
.sidebar-nav>ul>li>a.active {
	background: #283593;
}
.sidebar-nav ul li a:hover {
	background: #283593;
}
.sidebar-nav>ul>li.active>a {
	background: #283593;
}
.sidebar-nav>ul>li>ul>li.active a {
	background: #283593;
}
.sidebar-nav ul li ul li a:hover {
	background: #283593;
}
.submit_col .btn-primary, .submit_col .btn-primary.disabled {
	background: #283593;
	border-color:#283593;
}
.submit_col .btn-primary:hover, .submit_col .btn-primary.disabled:hover
	{
	background: #283593;
	border-color:#283593;
}
.form_section .form-inline .new-radio-button [type="radio"]:checked+label::after,
	[type="radio"].with-gap:checked+label::after {
		border-color:#283593;
}

.form_section .form-inline .new-radio-button [type="radio"]:checked+label::after,
	[type="radio"].with-gap:checked+label::before, [type="radio"].with-gap:checked+label::after
	{
		border-color:#283593;
}
.form_section .form-inline [type="checkbox"].filled-in:checked+label:after
	{
	border-color:#283593;
	background-color: #283593;
	}
	.form_section .form-inline input {
	border-color:#283593;
}
.form_section .three_column_form .three_column_form_column .input-group.date {
	border-color:#283593;
}
.form_section .form-inline select {
	border-color:#283593;
}
.form_section .form-inline .input-group.date .inner-addon .fa {
	color: #283593;
}





/* =================================== */
.sidebar-nav ul li a {
    color: #f0f6ff;
}
.sidebar-nav>ul>li>a i {
	color: #f0f6ff;
}
table.table-bordered.dataTable tbody tr:nth-of-type(odd) {
	background: #28359326;
}
table.table-bordered.dataTable tbody tr:nth-of-type(even) {
		background: #28359366;
}
.btn-inverse, .btn-inverse.disabled {
    background:#580c3b;
    border-color: #580c3b;
}
.btn-inverse:hover, .btn-inverse.disabled:hover {
	background:#580c3be0;
    border-color: #580c3be0;	
}
.single_select_box>.bootstrap-select>.dropdown-toggle {
    border-color: #283593;
}
.single_select_box>.select_box_two>.bootstrap-select>.dropdown-toggle {
	border-color: #283593;
}
.select2-container--default .select2-selection--single {
	border-color: #283593!important;
}
.form_section .form-inline .input-group.date {
	border-color: #283593;
}
.select2-dropdown {
    border-color: #283593 !important;
}
.sidebar-nav>ul>li.active>a {
	border-color: #7786f1;
    border-right-color: #5463d0;
}
.dt-buttons .dt-button {
    background: #283593!important;
}